@charset "utf-8";

@import "./destyle";

html {
    font-size: 1.0rem;
}

body {
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1280px;
    padding: 0 4%;
    margin: 0 auto;
}
