@charset "utf-8";

// color.
$base-color: #282c34;
$main-color: #61dafb;
$accent-color: #fb8261;
$black: #000;
$white: #fff;
$gray: #93A5B2;
$red: #ff0000;
$light-gray: #efeff1;
$button-primary-color: #668ad8;
$button-primary-border-color: #627295;
$button-error-color: #ffa103;
$button-error-border-color: #cc9933;
$key-bg-color: #cfd8dc;
$key-color: #546e7b;
$key-shadow-color: #90a4ae;

// font-size.
$part-size: 4rem;
$chapter-size: 3rem;
$section-size: 2rem;
$paragraph-size: 1.6rem;
$division-size: 1.2rem;
