@charset "utf-8";

@import "_variables.scss";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    padding: 4px 2px;
    background-color: $base-color;
    text-align: center;

    &__copy {
        color: $white;
    }
}
