@charset "utf-8";

@import "_variables.scss";
@import "_mixin.scss";

.note {
    position: relative;
    margin-bottom: 32px;
    padding: 16px 56px;
    border-radius: 16px;
    background-color: $light-gray;

    &__title {
        font-size: $section-size;
    }

    &__description {
        @include note-description();

        &:last-of-type {
            margin-bottom: 16px;
        }

        &--red {
            @include note-description();
            color: $red;
        }
    }

    &__contact {
        transition: all 300ms;

        &:hover {
            color: $red;
            text-decoration: underline;
        }
    }
}